/* Teal Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #00897b;
  --primary-hover: #00796b;
  --primary-focus: rgba(0, 137, 123, 0.125);
  --primary-inverse: #FFF;
}

/* Teal Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme])  {
    --primary: #00897b;
    --primary-hover: #009688;
    --primary-focus: rgba(0, 137, 123, 0.25);
    --primary-inverse: #FFF;
  }
}

/* Teal Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #00897b;
  --primary-hover: #009688;
  --primary-focus: rgba(0, 137, 123, 0.25);
  --primary-inverse: #FFF;
}

/* Teal (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: medium;
}

.modalButton {
  width: 50%;
  border-color: white;
  float: right;
  margin-left: 5px;
  font-size: small;
}

button {
  width: 60%;
  border-color: white;
}

dialog {
  text-align: center;
}

.task {
  width: 70%;
  height: 200px;

}

.task:hover {
  transform: scale(1.01);
}

.task > p {
  float: right;
}

.task > footer > a {
  float: right;
}

.container > h1{
  text-align: center;
}

.noAuth {
  text-align: center;
}

.delete {
  background-color: red;
}

.taskbutton {
  width: 50%;
  margin-right: 5px;
  margin-top: 20px;
  border-color: white;
  font-size: small;
}